body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: seagreen;
}

main {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  background-color: rgba(241, 132, 81, 0.815);
  /* width: 1024px; */
  /* max-width: 1024px; */
  flex-wrap: wrap;
  padding-bottom: 100px;
}
nav {
  /* border: 1px solid rgb(0, 132, 255); */
  /* width: 1024px; */
  /* max-width: 1024px; */
  background-color: #34b4e7;
  padding: 0;
  margin: 0;
}

.shapka {
    background: #FF7056;
    display: flex;
    justify-content: center;
    align-items: center;
/*    border: 1px solid black; */
}
.links {
  background: #4B63FF;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}
li {
  list-style-type: square;
}
.bb {
  font-weight: bold;
}
.text {
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  /* width: 1024px; */
  /* max-width: 1024px; */
}
aside {
  padding-top: 10px;
  margin: 0 20px;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  /* justify-content: flex-end; */
  /* padding-left: 10px; */
  /* padding-right: 10px; */
  /* padding-bottom: 100px; */
}
aside p {
  padding: 0 10px;
}
.qwe p {
  padding: 0 10px;
  color: black;
  font-weight: bold;
}
footer {
  /* margin-top: 100px; */
  padding-top: 100px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0e2368;
  color: white;
}
footer a {
  color: white;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
