html,
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1400px;
  height: 715px;
  /* height: 746px; */
  background-image: url("img/main.png");
  background-repeat: no-repeat;
  /* background: url("img/main.png") no-repeat 0 0; */
  /* height: 715px; */
  /* padding-top: 36px; */
}
header {
  margin: 0;
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: space-around; */
  border: 1px solid black;
  /* height: 100px; */
}
nav {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #533738;
  /* padding-t1op: 36px; */
}
.logo {
  background-image: url("img/1.png");
  background-repeat: no-repeat;
  background-position: 10px 10px;
}
ul {
  padding-top: 36px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
li {
  padding: 26px;
}
main {
  width: 1400px;
}
